

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #740674;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 12%;
}

i{
    color: black;
}

i:hover{
    color:gray;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    font-family: 'Poppins', 'san-serif';
    min-height: 80vh;
}

p{
    font-weight: 300;
}

button{
    background-color: rgba(0,0,0,0);
    color: #740674;
    border: 2px solid #740674;
    border-radius: 5%;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', 'san-serif';
    font-weight: 500;
}
.wrapper2{
    display: flex;
    justify-content: space-between;
}
.hidden{
    opacity:0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}

span{
    width: 25%;
}

.wrapper2{
    display: flex;
    justify-content: space-around;
}

h3{
    display: flex;
    background-color: #740674;
    height:50px;
    width:200px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'sans-serif';
    border-radius: 15px 15px 0% 0%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    border: 1px solid black;
}

.wrapper3{
    display: flex;
    justify-content: space-around;
}

span{
    display: flex;
    width: 50px;
    font-family: 'Poppins', 'sans-serif';
}

.frontEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: plum;
    width: 200px;
    border: 1px solid black;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
